{% extends 'base.html' %}
{% block content %}
<style>
    .container {
      width: 860px;
      margin: 0 auto;
    }

    .navbar {
      height: 50px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    .chart-container {
      height: 10px;
    }
</style>
<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <span style="color: black;">{{ symbol }}</span>
    </div>
    <div class="navbar-price">
      ${{ price }}
    </div>
    <div class="navbar-change">
      {% if change < '0' %}
      <span class="change-positive" style="color: red;">-{{ change }}%</span>
      {% else %}
      <span class="change-positive" style="color: green;">+{{ change }}%</span>
      {% endif %}
    </div>
  </nav>
  <div class="chart-container">
    <div id="tradingview-widget-container">
      <div id="tradingview_12345"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 800,
          "height": 600,
          "symbol": "BINANCE:{{ symbol }}",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "light",
          "style": "1",
          "locale": "ru",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_9d57b"
        }
      );
    </script>
    <div id="tradingview_9d57b"></div>
{% endblock %}